<section class="features">
    <div class="container">
        <h1>What Do You Get with Our Tool?</h1>
        <p>Make sure all your tasks are organized so you can set the priorities and focus on important.</p>
        <div class="tool-features">
            <div class="box">
                <img src="images/Icons/chatt.svg" alt="">
                <h5>Comments on Tasks</h5>
                <p>Id mollis consectutur congue egestas engestas suspendisse blandit justo.</p>
            </div>
            <div class="box">
                <img src="images/Icons/presentation.svg" alt="">
                <h5>Tasks Analytics</h5>
                <p>Non imperdiet facilisis nulla tellus Morbi scelerisque eget adipiscing vulputate.</p>
            </div>
            <div class="box">
                <img src="images/Icons/assignees.svg" alt="">
                <h5>Multiple Assignees</h5>
                <p>A elementum, imperdiet enim, pretium etiam facilisi in aenean quam mauris.</p>
            </div>
            <div class="box">
                <img src="images/Icons/notification-bell.svg" alt="">
                <h5>Notifications</h5>
                <p>Diam, suspendisse velit cras ac. Lobortis diam volutpat, eget pellentesque viverra.</p>
            </div>
            <div class="box">
                <img src="images/Icons/sections-subtasks.svg" alt="">
                <h5>Sections & Subtasks</h5>
                <p>Mi feugiat hac id in. Sit elit placerat lacus nibh lorem ridiculus lectus.</p>
            </div>
            <div class="box">
                <img src="images/Icons/data-security.svg" alt="">
                <h5>Data Security</h5>
                <p>Aliquam malesuada neque eget elit nulla vestibulum nunc cras.</p>
            </div>
        </div>
    </div>
</section>
